.diagonalBox {
  background-image: linear-gradient(20deg, #fda198, #aa073b);
  transform: skewY(5deg);
  height: 40px;
  margin-top: 5px;
}

.centerVertically {
  display: flex;
  justify-content: center;
  align-items: center;
}
