.footerContainer {
  background-color: #f8f9fa;
  text-align: center;
  padding-top: 30px;
  margin-top: 400px;
}

.buttonMargin {
  margin: 0 5px;
}

.linkRemoveDec {
  color: #6c757d;
  text-decoration: none;
}

.linkRemoveDec:hover {
  color: #fda198;
}
