.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 100%;
}

.header {
  width: 95%;
  background-color: rgb(62, 139, 154);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.settingsButton {
  background-color: #ff5335;
  /* box-shadow: none; */
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: #353943;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h3 {
    color: #353941;
    font-weight: bold;
}

.settingsButton:hover {
  background-color: #f13412;
}

.settingsButton:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
